<mat-toolbar class="toolbar">
  <button mat-icon-button class="icon" aria-label="icon-button with menu icon">
    <mat-icon class="material-symbols-outlined" (click)="drawer.toggle()" >apps</mat-icon>
</button>
  <span class="blank">  </span>
  <span>La Vitrolera</span>
  <span style="flex:  1 1 auto"></span>
  <button class="cart-button" mat-fab color="primary" onclick="location.href='/cart'" >

    <mat-icon class="material-symbols-outlined">
      shopping_cart_checkout
    </mat-icon>
  </button>
</mat-toolbar>

<!-- Go n look for better code somewhere else-->
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <ul>
      <li>
        <button mat-raised-button color="primary" onclick="location.href=''">
          Inicio
        </button>
      </li>
      <li>
        <button mat-raised-button color="primary" onclick="location.href='/products'">
          Catalogo
        </button>
      </li>
    </ul>
    <ul style="margin-top: 320%;">
      <li class="vblank">
        <button mat-raised-button color="accent" (click)="loadregister()">
          Registrar
        </button>
      </li>
      <li class="vblank">
        <button mat-raised-button color="accent" (click)="loadlogin()">
          Iniciar sesion
        </button>
      </li>
    </ul>
  
  </mat-drawer>

  <div class="example-sidenav-content">
  </div>

</mat-drawer-container>