.example-container 
    position: fixed
    height: 100%
    background: rgba(0,0 ,0,.5 )


.example-sidenav-content 
  display: flex
  height: 100%
  align-items: center
  justify-content: center
  


.example-sidenav 
  padding: 20px
  background: rgba(0, 0, 0, 0.5)
  color: white
  
.blank
    flex: .01 .01 auto
  
ul 
  list-style-type: none
  padding-left: 0
  margin-left: 0

li 
  margin: 10px
  

.vblank
  

.mat-toolbar
  background: black

.toolbar
  position: sticky
  top: 0
  z-index: 100