<table>
    <tr>
        <td>
            <img src="" alt="Item Image">
        </td>
        <td>
            <ul>
                <li>

                    <h1> Nombre</h1>
                </li>
                <li>
                    <h1>Precio </h1>
                </li>
                <li>
                    <h1> Cantidad:</h1>
                    <INPUT TYPE="NUMBER" MIN="0" MAX="10" STEP="2" VALUE="6" SIZE="6">
                </li>
            </ul>
            <button mat-button > Agregar al carrito</button>
        </td>
    </tr>
</table>