<div class="modal">

    <table>
        <tr>
            <td>
                <img [(ngModel)]="Imagen" src="{{this.Imagen}}" alt="Item Image">
            </td>
            <td class="description">
                <ul>
                    <li>
    
                        <h1  [(ngModel)]="Nombre">{{this.Nombre}} </h1>
                    </li>
                    <li>
                        <h2  [(ngModel)]="Precio">${{this.Precio}} MXN</h2>
                    </li>
                    <li>
                        <h3 > Cantidad:</h3>
                        <INPUT  class="roller" TYPE="NUMBER" MIN="0" MAX="10" STEP="1" VALUE="1" SIZE="6">
                    </li>
                </ul>
                <button style="margin-left: 65px; margin-top: 55px;" mat-raised-button mat-dialog-close color="primary" (click)="addToCart()"> Agregar al carrito</button>
            </td>
        </tr>
    </table>
</div>