<div style="max-width: 300px; background-position: center; background-size: cover; border-radius: 10px;" [ngStyle]="{'background-image': 'url(' + item.Imagen + ')'}">

  <mat-card class="example-card" >
     
      <mat-card-content>
        <div mat-card-avatar class="example-header-image"> IMG</div>
        <mat-card-title>{{item.Nombre}}</mat-card-title>
        <!--<img  mat-card-image src={{item.Imagen}} alt="Photo of a Shiba Inu">-->
        ${{item.Precio}} MXN 
      </mat-card-content>
      <mat-card-actions class="button">
        <button mat-button  >Agregar</button>
      </mat-card-actions>
    </mat-card>
</div>